@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');


html {
  height: 100%;
  width: 100%;
}

/* Mobile-first styles */
body {
  font-family: 'Helvetica', sans-serif;
  /* Example font, replace with your choice */
  background-color: #000000;
  /* Black similar to the flag */
  color: #ffffff;
  /* White text */
  padding: 0px 20px 20px 20px;
  max-width: 1000px;
  margin: auto;
}

h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

h2,
h3 {
  line-height: 35px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.directions a {
  color: #E4312b;
  /* White links */
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

}

/* a:visited {
  color: black; /* White visited links */
/* } */

p {
  line-height: 28px;
  margin: 0;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.directions {
  background-color: #149954;
  /* Green similar to the flag */
  padding: 20px;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.banner {
  background-position: 80% 70%;
  background-size: cover;
  background-repeat: none;
  margin-bottom: 10px;
  min-height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}

.banner a {
  transition: .2s
}

.banner a:active {
  color: #E4312b;
  transition: .2s
}



.congress-banner {
  background-image: url(assets/mo-hamouda.jpg);
  margin-right: 1px;
}

.university-banner {
  background-image: url(assets/encampment.png);
  margin-left: 1px;
}

.banner a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 10px;


}



.header {
  background-color: #E4312b;
  /* Red similar to the flag */
  padding: 20px;
  text-align: center;
}

.subline {
  margin: 20px 30px;
  display: flex;
  align-items: center;


  & img {
    max-width: 100px;
    padding-right: 20px;
  }
}

.column {
  flex-direction: column;

  & li {
    margin: 5px;
    padding: 5px;
  }

  & ol {
    color: black;
  }
}

ol li {
  margin: 5px !important;
  padding: 5px !important;
  font-size: 15px;
}

/* Find District Form */
#findDistrictForm {
  margin: 20px;
  background-color: #149954;
  padding: 20px;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

  display: none;

  & * {
    margin: 5px;
  }

  & label {
    line-height: 25px;
    font-size: 15px;
    color: black;

  }

  & #addressInput {
    width: 80%;
    max-width: 500px;
    padding: 5px 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  & button {
    font-size: 14px;
    padding: 5px 20px;
    background-color: #149954;
    font-weight: 400;
    color: white;
    border: none;
    border-radius: 100px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
  }

}

#schools {
  margin: 20px;
  background-color: #149954;
  padding: 20px;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

  display: none;

  & li{
    color: white;
    background-color: none !important;
  }

  }


.input-error {
  color: #E4312b !important;
  background-color: white;
  padding: 5px 10px;
}

.district-to-copy {
  margin-top: 10px;
  width: 50px;
  text-align: center;
  margin: auto;
  padding: 5px 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

small {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
}

li.un-listed {
  background-color: white;
  margin: 20px 0 10px;
  color: black;
  padding: 30px 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;


  & section {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 800px;
    justify-content: center;
  }

  & .step {
    font-size: 3em;
    margin: 15px 20px 0;
  }

  & span {
    color: #E4312b;
    font-size: 13px;
  }
}

.in-text-icon {
  height: 1em;
  width: auto;
  margin-left: 3px;
  margin-right: 3px;
}

.un-listed {
  list-style-type: none;
}

.notice {
  color: #E4312b;
  font-size: 15px;
  text-decoration: underline;
  cursor: pointer;
}

.notice:active,
a:active {
  color: #8a0f0f;

}

.show {
  display: flex !important;
}

.gz4c {
  font-size: 15px;
  text-align: right;

  & a {
    color: white;
  }
}

#alert {
  color: white;
  font-style: italic;
}



@media (max-width: 600px) {
  body {
    padding: 0px;
    margin: 0;
  }

  .subline {

    & img {
      display: none;
    }

    & h2 {
      font-size: 18px;
      line-height: 30px;
      letter-spacing: .5px;
    }
  }

  .gz4c {
    text-align: center;
    font-size: 10px;
  }

}